In [1]:
import pandas as pd
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', 200)

In [35]:
titlemeta = pd.read_csv("D:/DH collaborative/Avant garde/titlemeta.tsv", sep="\t", low_memory=False)
titlemeta

,docid,oldauthor,author,authordate,inferreddate,latestcomp,datetype,startdate,enddate,imprint,...,allcopiesofwork,copiesin25yrs,enumcron,volnum,title,parttitle,earlyedition,shorttitle,nonficprob,juvenileprob
0,mdp.39015031913893,"Spencer, Louise Reid","Spencer, Louise Reid",NaN,NaN,NaN,|,||||,||||,Thomas Y. Crowell company|1945,...,1.0,1.0,NaN,NaN,Guerrilla wife | $c: [by] Louise Reid Spencer.,NaN,True,Guerrilla wife,0.809395,0.134542
1,mdp.39015003936864,"Baker, Robert H","Baker, Robert H",NaN,NaN,NaN,n,,,"Port Washington, N.Y.|Ashley Books|197-?].",...,1.0,1.0,NaN,NaN,The suburbs : | a novel / | $c: by Robert H. B...,NaN,True,The suburbs : a novel,0.047942,0.012300
2,mdp.39015068342305,"Dickens, Charles","Dickens, Charles",1812-1870.,NaN,1870.0,n,,,New York|The American news company|n.d.,...,1.0,1.0,NaN,NaN,Edwin Drood. | $c: By Charles Dickens. With il...,NaN,True,Edwin Drood,0.395749,0.021590
3,mdp.39015055066586,"Stretton, Hesba","Stretton, Hesba",1832-1911.,NaN,1911.0,n,,,"New York|Dodd, Mead & co.|n.d.",...,1.0,1.0,NaN,NaN,"Carola, | $c: by Hesba Stretton.",NaN,True,Carola,0.056825,0.012471
4,mdp.39015055066594,"Stretton,Hesba","Stretton, Hesba",1832-1911.,NaN,1911.0,n,,,"New York|Dodd, Mead & co.|n.d.",...,1.0,1.0,NaN,NaN,In prison & out. | $c: By Hesba Stretton.,NaN,True,In prison & out,0.029148,0.155111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138132,umn.31951d030369342,NaN,NaN,NaN,2010.0,1918.0,r,2010,1918,Ann Arbor|University Of Michigan Library|2010.,...,1.0,1.0,NaN,NaN,Six plays of the yiddish theatre / | $c: [tran...,NaN,False,Six plays of the yiddish theatre,0.889030,0.387223
138133,mdp.39076002906829,"Wison, Steven E. (Steven Eugene)","Wison, Steven E. (Steven Eugene)",1951-,2011.0,2011.0,s,2011,,"Cleveland, Ohio|H-G Books|c2011.",...,1.0,1.0,NaN,NaN,The ghosts of Anatolia : | an epic journey to ...,NaN,True,The ghosts of Anatolia : an epic journey to fo...,0.290158,0.304493
138134,inu.30000127716409,"Jeon, Heecheon","Jeon, Heecheon",NaN,2011.0,2011.0,s,2011,,New York|Peter Lang|c2011.,...,1.0,1.0,NaN,NaN,Subjectivity of différance : | a poiesis of de...,NaN,True,Subjectivity of différance : a poiesis of deco...,0.991856,0.026401
138135,ien.35556042103887,"Wells, H. G. (Herbert George)","Wells, H. G. (Herbert George)",1866-1946.,2011.0,1901.0,r,2011,1901,"La Vergne, TN|Nabu Public Domain Reprints|2011?].",...,1.0,1.0,NaN,NaN,Certain personal matters / | $c: by H. G. Wells.,NaN,False,Certain personal matters,0.578157,0.006842
138136,mdp.39015092163339,"Davis, John A","Davis, John A",d.1897.,2013.0,1880.0,r,2013,1880,NaN,...,1.0,1.0,v.4,4.0,Qing guo nu li : | fu ren Zhongguo fu nü sheng...,NaN,False,Qing guo nu li : fu ren Zhongguo fu nü sheng h...,0.287677,0.791218

In [36]:
titlemeta_clean = titlemeta.copy(deep = True)
titlemeta_clean = titlemeta_clean[['docid', 'title', 'author', 'latestcomp', 'genres', 'subjects', 'authordate', 'imprint', 'enumcron']]
titlemeta_clean['title'] = titlemeta['title'].str.replace('\| ', '', regex = True)
titlemeta_clean['title'] = titlemeta_clean['title'].replace('\/ ', '', regex = True)
titlemeta_clean['title'] = titlemeta_clean['title'].replace('\$c', '', regex = True)
titlemeta_clean['title'] = titlemeta_clean['title'].replace(': ', '', regex = True)
titlemeta_clean

,docid,title,author,latestcomp,genres,subjects,authordate,imprint,enumcron
0,mdp.39015031913893,Guerrilla wife [by] Louise Reid Spencer.,"Spencer, Louise Reid",NaN,NaN,"Personal narratives, American|Philippines|Worl...",NaN,Thomas Y. Crowell company|1945,NaN
1,mdp.39015003936864,The suburbs a novel by Robert H. Baker.,"Baker, Robert H",NaN,NaN,NaN,NaN,"Port Washington, N.Y.|Ashley Books|197-?].",NaN
2,mdp.39015068342305,Edwin Drood. By Charles Dickens. With illustra...,"Dickens, Charles",1870.0,NaN,NaN,1812-1870.,New York|The American news company|n.d.,NaN
3,mdp.39015055066586,"Carola, by Hesba Stretton.","Stretton, Hesba",1911.0,NaN,NaN,1832-1911.,"New York|Dodd, Mead & co.|n.d.",NaN
4,mdp.39015055066594,In prison & out. By Hesba Stretton.,"Stretton, Hesba",1911.0,NaN,NaN,1832-1911.,"New York|Dodd, Mead & co.|n.d.",NaN
...,...,...,...,...,...,...,...,...,...
138132,umn.31951d030369342,Six plays of the yiddish theatre [translated a...,NaN,1918.0,NaN,NaN,NaN,Ann Arbor|University Of Michigan Library|2010.,NaN
138133,mdp.39076002906829,The ghosts of Anatolia an epic journey to forg...,"Wison, Steven E. (Steven Eugene)",2011.0,NaN,Turkey|History|Ethnic relations|Forgiveness|Hi...,1951-,"Cleveland, Ohio|H-G Books|c2011.",NaN
138134,inu.30000127716409,Subjectivity of différance a poiesis of decons...,"Jeon, Heecheon",2011.0,Bibliographies,Subjectivity,NaN,New York|Peter Lang|c2011.,NaN
138135,ien.35556042103887,Certain personal matters by H. G. Wells.,"Wells, H. G. (Herbert George)",1901.0,Autobiography,"1866-1946|20th century|England|Authors, Englis...",1866-1946.,"La Vergne, TN|Nabu Public Domain Reprints|2011?].",NaN
138136,mdp.39015092163339,Qing guo nu li fu ren Zhongguo fu nü sheng huo...,"Davis, John A",1880.0,NaN,Social life and customs,d.1897.,NaN,v.4

In [37]:
volume_title_author_year = titlemeta_clean[['title', 'author', 'latestcomp', 'docid']].drop_duplicates(['title', 'author']).reset_index(drop=True)
volume_title_author_year = volume_title_author_year.rename(columns = {'title': 'title', 'author': 'author', 'latestcomp': 'year', 'docid' : 'docid'})
volume_title_author_year['title'] = volume_title_author_year['title'].str.lower()
volume_title_author_year['author'] = volume_title_author_year['author'].str.lower()
volume_title_author_year

,title,author,year,docid
0,guerrilla wife [by] louise reid spencer.,"spencer, louise reid",NaN,mdp.39015031913893
1,the suburbs a novel by robert h. baker.,"baker, robert h",NaN,mdp.39015003936864
2,edwin drood. by charles dickens. with illustra...,"dickens, charles",1870.0,mdp.39015068342305
3,"carola, by hesba stretton.","stretton, hesba",1911.0,mdp.39015055066586
4,in prison & out. by hesba stretton.,"stretton, hesba",1911.0,mdp.39015055066594
...,...,...,...,...
123295,six plays of the yiddish theatre [translated a...,NaN,1918.0,umn.31951d030369342
123296,the ghosts of anatolia an epic journey to forg...,"wison, steven e. (steven eugene)",2011.0,mdp.39076002906829
123297,subjectivity of différance a poiesis of decons...,"jeon, heecheon",2011.0,inu.30000127716409
123298,certain personal matters by h. g. wells.,"wells, h. g. (herbert george)",1901.0,ien.35556042103887
123299,qing guo nu li fu ren zhongguo fu nü sheng huo...,"davis, john a",1880.0,mdp.39015092163339

In [6]:
revs = list(range(35))
for i in range(15):
    link = "D:/DH collaborative/Avant garde/avant-main/1916-30revs/fiction" + str(i + 12) + "_19" + str(i + 16) + ".tsv"
    revs[i] = pd.read_csv(link, sep="\t", low_memory=False)
    revs[i]['year'] = 1916 + i
    revs[i]['rownum'] = [x for x in range(len(revs[i]))]
for i in range(15, 25):
    link = "D:/DH collaborative/Avant garde/avant-main/1930srevs/nonconsumptive" + str(i + 12) + "_19" + str(i + 16) + ".tsv"
    revs[i] = pd.read_csv(link, sep="\t", low_memory=False)
    revs[i]['year'] = 1916 + i
    revs[i]['rownum'] = [x for x in range(len(revs[i]))]                   
for i in range(25, 35):
    link = "D:/DH collaborative/Avant garde/avant-main/1940srevs/nonconsumptive" + str(i + 12) + "_19" + str(i + 16) + ".tsv"
    revs[i] = pd.read_csv(link, sep="\t", low_memory=False)
    revs[i]['year'] = 1916 + i
    revs[i]['rownum'] = [x for x in range(len(revs[i]))]
review_meta = pd.concat(revs, axis=0).reset_index(drop=True)
review_meta

,bookauthor,booktitle,brdpage,price,publisher,publication,citation,quote,wordcount,avgsentiment,bookindex,numreviewswithsent,numreviewsofbk,authtitlefromindex,matchcloseness,year,rownum,avgsentwmissing
0,"JACKS, LAWRENCE PEARSALL.",Philoso- phers In trouble.,291,0.00,»*1.25 <3c) Holt,summary,summary,A A Bracketed English Hibbert Journal Monthly ...,330.0,3.735588,0,2,5,jacks + lp + philosophers in trouble,2.099824,1916,0,NaN
1,"JACKS, LAWRENCE PEARSALL.",Philoso- phers In trouble.,291,0.00,»*1.25 <3c) Holt,-| Dial,61:591 D 28 '16 230w,Jacks' Mr One The They a addicted admirable...,330.0,3.735588,0,2,5,jacks + lp + philosophers in trouble,2.099824,1916,1,NaN
2,"JACKS, LAWRENCE PEARSALL.",Philoso- phers In trouble.,291,0.00,»*1.25 <3c) Holt,N Y Br Lib News,3:184 D '16,NaN,330.0,3.735588,0,2,5,jacks + lp + philosophers in trouble,2.099824,1916,2,NaN
3,"JACKS, LAWRENCE PEARSALL.",Philoso- phers In trouble.,291,0.00,»*1.25 <3c) Holt,N Y Times,21:409 O 8 '16 lOOOw,'Philosophy Not Owen Wister a amusing and by f...,330.0,3.735588,0,2,5,jacks + lp + philosophers in trouble,2.099824,1916,3,NaN
4,"JACKS, LAWRENCE PEARSALL.",Philoso- phers In trouble.,291,0.00,»*1.25 <3c) Holt,Springfield Republican,pl3 O 1 '16 70w,'The 'The And The alone cedar' chest in in int...,330.0,3.735588,0,2,5,jacks + lp + philosophers in trouble,2.099824,1916,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168119,"CHIDESTER, ANN.",Moon Gap.,164,2.76,Doubleday,Time,55:96 Ap 10 '60 500w,NaN,NaN,3.000000,739,5,11,chidester + a + moon gap,1.732854,1950,6459,3.283750
168120,"BIRSTEIN, ANN.",Star of glass.,83,2.75,273p Dodd,summary,summary,a a added an and author became Character Fay g...,NaN,3.000000,740,3,4,birstein + a + star of glass,1.894086,1950,6460,3.130052
168121,"BIRSTEIN, ANN.",Star of glass.,83,2.75,273p Dodd,N Y Herald Tribune Bk R,pl5 D 10 '50 320w,an and Ann be Birstein countless first freque...,NaN,3.000000,740,3,4,birstein + a + star of glass,1.894086,1950,6461,3.130052
168122,"BIRSTEIN, ANN.",Star of glass.,83,2.75,273p Dodd,San Francisco Chronicle,p7 N 26 '60,'good.' 'great' a a A almost and and are as a...,NaN,3.000000,740,3,4,birstein + a + star of glass,1.894086,1950,6462,3.130052
168123,"BIRSTEIN, ANN.",Star of glass.,83,2.75,273p Dodd,Sat R of Lit,33:33 N 4 '60 270w,450W A a all along an and and and and and are ...,NaN,3.000000,740,3,4,birstein + a + star of glass,1.894086,1950,6463,3.130052

In [12]:
review_title_author_year = review_meta[['booktitle', 'bookauthor', 'year', 'rownum']].drop_duplicates(['booktitle', 'bookauthor']).reset_index(drop=True)
review_title_author_year.columns = ['title', 'author', 'year', 'rownum']
review_title_author_year['title'] = review_title_author_year['title'].str.lower()
review_title_author_year['author'] = review_title_author_year['author'].str.lower()
review_title_author_year['title'] = review_title_author_year['title'].str.replace('- ', '')
review_title_author_year.head()

,title,author,year,rownum
0,philosophers in trouble.,"jacks, lawrence pearsall.",1916,0
1,yvette; tr.,"maupassant, henri ren6 albert guy de.",1916,5
2,"hugh graham; a tale of the pioneers, il","townsend, frank sumner.",1916,8
3,daughter pays.,"reynolds, gertrude ml. (robins) (mrs. louis ba...",1916,13
4,trail of the pearl.,"harris, garrard.",1916,16

In [30]:
from fuzzywuzzy import fuzz
def fuzzywuzzy_matching(data1, data2, truncate, auththreshold, titlethreshold):

    volume_author_list = []
    review_author_list = []
    aRatio_list = []
    volume_title_list = []
    truncated_volume_title_list = []
    review_title_list = []
    truncated_rev_title_list = []
    tRatio_list = []
    original_tRatio_list = []
    volume_year_list = []
    review_year_list = []
    docid_list = []
    rownum_list = []
    
    data1['author'] = data1.author.str.strip('"[')
    data2['author'] = data2.author.str.strip('"[')
    
    data1['initial'] = data1['author'].str[0]
    data2['initial'] = data2['author'].str[0]
    
    allinitials = set(data1.initial).intersection(set(data2.initial))
    matches = 0
    
    for initial in allinitials:  
        print(initial)
        df1 = data1.loc[data1.initial == initial, : ]
        df2 = data2.loc[data2.initial == initial, : ]
        print(len(df1['author']), len(df2))
        
        for idx, row in df1.iterrows():
            author = row.author
            if author != author: # do not count the case when author is nan
                continue
            title = row.title
            if pd.isnull(title):
                    continue
                    
            year = row.year
            
            idxlist = []
            
            for idx2, row2 in df2.iterrows():
                author2 = row2.author
                if author2 != author2: # do not count the case when author is nan
                    continue
               
                aRatio = fuzz.ratio(str(author), str(author2))
                if aRatio < auththreshold:
                    continue
                
                title2 = row2.title
                if pd.isnull(title2):
                    continue
                
                if title.startswith('the '):        # remove initial the before truncation
                    title = title[4:]               # this is commonly missing in the reviews
                if title2.startswith('the '):
                    title2 = title2[4:]
                
                if truncate == 0:
                    new_title = title
                    new_title2 = title2
                    
                else:       
                    shorter_title = min(len(title), len(title2), truncate) # determining the truncate length: shortest of two titles and truncate number
                    new_title = title[:shorter_title]
                    new_title2 = title2[:shorter_title]
                
                minlen = min(len(new_title), len(new_title2))
                
                if minlen < 3:
                    continue
                
                if minlen < 12:
                    handicap = 12 - minlen
                elif minlen > 24:
                    handicap = 24 - minlen  # this will actually give an advantage to long titles, up to truncate max
                else:
                    handicap = 0
                
                    
                year2 = row2.year
                    
                tRatio = fuzz.ratio(str(new_title), str(new_title2)) - handicap
                original_tRatio = fuzz.ratio(str(new_title), str(new_title2))
                
                totalmatch = tRatio + (aRatio / 1.5)
                
                if tRatio >= titlethreshold:
                    idxlist.append((totalmatch, idx2, aRatio, tRatio, original_tRatio, new_title2, year2, row2.rownum))
            
            if len(idxlist) > 0:
                idxlist.sort(reverse = True)
                row2 = df2.loc[idxlist[0][1], : ]
                aRatio = idxlist[0][2]
                tRatio = idxlist[0][3]
                original_tRatio = idxlist[0][4]
                new_title2 = idxlist[0][5]
                year2 = idxlist[0][6]
                rownum = idxlist[0][7]
                
                volume_author_list.append(author)
                author2 = row2.author
                review_author_list.append(author2)
                
                aRatio_list.append(aRatio)
                old_volume_title = row.title
                volume_title_list.append(old_volume_title)
                truncated_volume_title_list.append(new_title)
                old_review_title = row2.title
                review_title_list.append(old_review_title)
                truncated_rev_title_list.append(new_title2)
                
                tRatio_list.append(tRatio)
                original_tRatio_list.append(original_tRatio)
                volume_year_list.append(year)
                review_year_list.append(year2)
                docid_list.append(row.docid)
                rownum_list.append(rownum)
                
                matches += 1
                if matches % 100 == 1:
                    print('matches: ', matches)
    #print(volume_author_list, review_author_list, aRatio_list, truncated_volume_title_list, volume_title_list, truncated_rev_title_list, review_title_list,
    #                              tRatio_list, original_tRatio_list, volume_year_list, review_year_list, docid_list, rownum_list)                
    df_output = pd.DataFrame(list(zip(volume_author_list, review_author_list, aRatio_list, truncated_volume_title_list, volume_title_list, truncated_rev_title_list, review_title_list,
                                  tRatio_list, original_tRatio_list, volume_year_list, review_year_list, docid_list, rownum_list)), columns=['volume_author', 'review_author',
                                                                                              'aRatio', 'trunc_volumetitle', 'volume_title', 'trunc_revtitle', 'review_title',
                                                                                              'tRatio', 'original_tRaio', 'volume_year', 'review_year', 'docid', 'rownum'])
    return df_output

In [43]:
fuzzywuzzy_clean = fuzzywuzzy_matching(volume_title_author_year, review_title_author_year, 30, 70, 80)
fuzzywuzzy_clean = fuzzywuzzy_clean.sort_values(by=['tRatio'], ascending=False).reset_index(drop=True)
fuzzywuzzy_clean

r
4911 1064
matches:  1
matches:  101
matches:  201
matches:  301
1
6 1
q
278 64
a
4751 759
matches:  401
matches:  501
matches:  601
v
1520 211
matches:  701
c
8653 2080
matches:  801
matches:  901
matches:  1001
matches:  1101
matches:  1201
matches:  1301
matches:  1401
z
515 36
i
743 99
l
5578 1112
matches:  1501
matches:  1601
matches:  1701
matches:  1801
d
5982 1120
matches:  1901
matches:  2001
matches:  2101
matches:  2201
n
2020 379
matches:  2301
g
6311 1250
matches:  2401
matches:  2501
matches:  2601
matches:  2701
matches:  2801
s
10725 2152
matches:  2901
matches:  3001
matches:  3101
matches:  3201
matches:  3301
matches:  3401
matches:  3501
matches:  3601
t
4021 708
matches:  3701
matches:  3801
m
10750 2160
matches:  3901
matches:  4001
matches:  4101
matches:  4201
matches:  4301
matches:  4401
matches:  4501
matches:  4601
matches:  4701
'
1 6
(
7 1
u
390 60
w
6542 1374
matches:  4801
matches:  4901
matches:  5001
matches:  5101
matches:  5201
matches:  5301
j
2635 455
matches:  5401
matches:  5501
h
8547 1707
matches:  5601
matches:  5701
matches:  5801
matches:  5901
matches:  6001
matches:  6101
o
2297 438
matches:  6201
matches:  6301
p
5316 1006
matches:  6401
matches:  6501
matches:  6601
matches:  6701
e
2361 385
matches:  6801
f
4566 1215
matches:  6901
matches:  7001
matches:  7101
matches:  7201
matches:  7301
k
4073 809
matches:  7401
matches:  7501
matches:  7601
y
681 108
b
11796 2464
matches:  7701
matches:  7801
matches:  7901
matches:  8001
matches:  8101
matches:  8201
matches:  8301
matches:  8401
matches:  8501

,volume_author,review_author,aRatio,trunc_volumetitle,volume_title,trunc_revtitle,review_title,tRatio,original_tRaio,volume_year,review_year,docid,rownum
0,"green, paul","green, paul.",96,forever growing; some notes on,forever growing; some notes on a credo for tea...,forever growing; some notes on,forever growing; some notes on a credo for.,106,100,1945.0,1946,mdp.39015031237087,660
1,"ruark, robert chester","ruark, robert c.",81,"grenadine etching, her life an","grenadine etching, her life and loves.","grenadine etching, her life an","grenadine etching, her life and loves.",106,100,1952.0,1947,uc1.b3727812,1205
2,"gogarty, oliver st. john","gogarty, oliver st john.",96,as i was goin,"as i was going down sackville street, by olive...",as i was going down sackville,as i was going down sackville street.,106,100,1937.0,1937,uc1.b3835561,2770
3,"kraus, rené","kraus, rene.",87,private and public li,"the private and public life of socrates, by re...",private and public life of soc,the private and public life of socrates; tr.,106,100,1940.0,1940,uc1.$b45586,5155
4,"caine, william","caine, william.",97,great-snakes!,great-snakes! a variation on a classical theme...,great-snakes! a variation on a,great-snakes! a variation on a classical theme.,106,100,1916.0,1916,nyp.33433074938535,1265
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8568,"mann, heinrich","mann, heinrich.",97,"little superman, by","little superman, by heinrich mann, translated ...",little superman; tr.,little superman; tr.,80,80,1945.0,1945,mdp.39015027251167,859
8569,"raine, william macleod","raine, william macleod.",98,a man four-squ,a man four-square,man foursquare.,man foursquare.,80,80,1919.0,1919,uc2.ark+=13960=t6zw1dr09,806
8570,"leaf, munro","leaf, munro.",96,gordon the goat by m,gordon the goat by munro leaf.,gordon the goat: ii.,gordon the goat: ii.,80,80,1944.0,1944,mdp.39076002226400,627
8571,"hough, emerson","hough, emerson.",97,sagebrusher; a,"the sagebrusher; a story of the west, by emers...",sagebrusher. 11,sagebrusher. 11,80,80,1919.0,1919,wu.89004700936,2067
8572,"tucker, beverley","tucker, nathaniel beverley.",74,partisan leade,the partisan leader. by beverly [sic] tucker. ...,partisan leader; ed.,partisan leader; ed.,80,80,1851.0,1933,njp.32101064283474,4388

In [44]:
fuzzywuzzy_clean.to_csv('D:/DH collaborative/Avant garde/fuzzywuzzy_clean.csv', index=False)

In [46]:
fuzzymatch_final = fuzzywuzzy_clean[fuzzywuzzy_clean['volume_year'] > fuzzywuzzy_clean['review_year'] - 4.0].reset_index(drop=True)
fuzzymatch_final.to_csv('D:/DH collaborative/Avant garde/fuzzymatch_final.csv', index=False)

In [47]:
fuzzymatch_final

,volume_author,review_author,aRatio,trunc_volumetitle,volume_title,trunc_revtitle,review_title,tRatio,original_tRaio,volume_year,review_year,docid,rownum
0,"green, paul","green, paul.",96,forever growing; some notes on,forever growing; some notes on a credo for tea...,forever growing; some notes on,forever growing; some notes on a credo for.,106,100,1945.0,1946,mdp.39015031237087,660
1,"ruark, robert chester","ruark, robert c.",81,"grenadine etching, her life an","grenadine etching, her life and loves.","grenadine etching, her life an","grenadine etching, her life and loves.",106,100,1952.0,1947,uc1.b3727812,1205
2,"gogarty, oliver st. john","gogarty, oliver st john.",96,as i was goin,"as i was going down sackville street, by olive...",as i was going down sackville,as i was going down sackville street.,106,100,1937.0,1937,uc1.b3835561,2770
3,"kraus, rené","kraus, rene.",87,private and public li,"the private and public life of socrates, by re...",private and public life of soc,the private and public life of socrates; tr.,106,100,1940.0,1940,uc1.$b45586,5155
4,"caine, william","caine, william.",97,great-snakes!,great-snakes! a variation on a classical theme...,great-snakes! a variation on a,great-snakes! a variation on a classical theme.,106,100,1916.0,1916,nyp.33433074938535,1265
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8289,"bunin, ivan alekseevich","bunin, ivan aleksieevich.",96,"mitya's love, by ivan bunin, t","mitya's love, by ivan bunin, translated from t...",mitya's lovetr.,mitya's lovetr.,80,80,1926.0,1926,mdp.39015003559088,2758
8290,"mann, heinrich","mann, heinrich.",97,"little superman, by","little superman, by heinrich mann, translated ...",little superman; tr.,little superman; tr.,80,80,1945.0,1945,mdp.39015027251167,859
8291,"raine, william macleod","raine, william macleod.",98,a man four-squ,a man four-square,man foursquare.,man foursquare.,80,80,1919.0,1919,uc2.ark+=13960=t6zw1dr09,806
8292,"leaf, munro","leaf, munro.",96,gordon the goat by m,gordon the goat by munro leaf.,gordon the goat: ii.,gordon the goat: ii.,80,80,1944.0,1944,mdp.39076002226400,627
8293,"hough, emerson","hough, emerson.",97,sagebrusher; a,"the sagebrusher; a story of the west, by emers...",sagebrusher. 11,sagebrusher. 11,80,80,1919.0,1919,wu.89004700936,2067